    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="first name" name="first_name">
            <label for="floatingInput">first name</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"  value="{{this.last_name}}" placeholder="last name" name="last_name">
            <label for="floatingInput">last name</label>
        </div>
    </div>


    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"  value="{{this.email}}" placeholder="email" name="email">
            <label for="floatingInput">email</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"  value="{{this.phone}}" placeholder="phone" name="phone">
            <label for="floatingInput">phone</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput" placeholder="comments" name="comments"
                style="height:200px">{{this.comments}} </textarea>
            <label for="floatingInput">comments</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">submit</button>
    </div>